/* filepath: c:\Users\ioana\Documents\coding\sanasisu\src\index.css */
@font-face {
    font-family: "PixelOperator8";
    src: url("./PixelOperator8.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #000000;
    font-family: "PixelOperator8", Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
}

#app {
    position: relative;
    width: fit-content;
}

.spritePosition {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
}

.button {
    width: 140px;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        border: 1px solid #0ec3c9;
        color: #0ec3c9;
    }

    &:active {
        background-color: #0ec3c9;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
    }
}

p {
    margin: 0;
}

input {
    &:focus {
        outline: none;
        border-color: #0ec3c9;
    }
}

